*{
    padding:0;
    margin: 0;
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    font-size:0;
    visibility: hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}
.wrapper{
    width:892px;
    height:1386px;
    background: #f1f1f1;
    margin:0 auto;
    font-size: 12px;
    padding: 0 44px;
    overflow: hidden;
}
.header,.content,.footer{
    width:892px;
}
.header{
     border-bottom: 2px solid #938e8c;
 }
.head-logo{
    width:105px;
    height:19px;
    background: #d45d5c;
    color: #fff;
    font-family: "SimHei";
    font-weight: 700;
    line-height: 14px;
    padding: 44px 0 2px 5px;

}
.head-time{
    float:right;
    height:61px;
    color: #d45d5c;
    font-family:"SimHei" ;
    margin-top:48px;
    font-weight: 500;
}
.cont-banner{
    margin-top:34px;
    position: relative;
}
.cont-banner-img:after,.cont-banner-img:before{
    content: "";
    width: 191px;
    height: 301px;
    background: #a0c5ac;
    position: absolute;
    top:0;
    filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity:0.5; /*Firefox私有，透明度50%*/
    opacity:0.5;/*其他，透明度50%*/
}
.cont-banner-img:after{
    background: #e5babf;
    right:252px;
}
.cont-banner-img:before{
    background: #a0c5ac;
}
/**********************/
.aside-info{
    width:203px;
    border-top: 2px solid #cc8091;
    float:right;
    margin-top: -303px;
    margin-right: 2px;
    font-family: Microsoft Yahei;
}
.aside-info h2{
    font-size: 24px;
    color:#000;
    text-decoration: underline;
    font-weight: 400;

}
.aside-info .info-detail{
    font-size: 12px;
    font-family: KaiTi;
    color:#676767;
    line-height: 10px;
    margin-top: 6px;

}
.aside-info .info-math{
    font-size: 116px;
    font-style: italic;
    color:#75b86b;
    text-align: left;
    margin-left: -14px;
}
.aside-info .info-last{
    color:#cc8091;
    position:relative;
    margin-top: -4px;
}
.aside-info .info-last p{
    float:left;
    font-size: 55px;
}
.aside-info .info-last span{
    font-size: 21px;
    position: absolute;
    top:20px;
}
.aside-info .info-last i{
    position:absolute;
    top:44px;
}
/*****************/
.cont-threew {
    margin-top: 40px;
    width: 641px;
}
.cont-threew div{
    float:left;
    margin-right:28px;
}
.cont-threew div h1{
    text-decoration: underline;
    padding-bottom:10px;
}
.cont-threew div p{
    font-size: 12px;
    color:#8d8d8d;
    line-height:16px;

}
.cont-threew .threew-what{
    width:227px;

}
.threew-what h1 {
    color: #418c35;
}

.cont-threew .threew-when{
    width:204px;
}
.threew-when h1 {
     color: #d3994f;
 }
.cont-threew .threew-how{
    width:132px;
    margin-right: 0;
}
.threew-how h1 {
    color: #cd7680;
}
.threew-all{
    margin-top:29px;
}
.threew-how .threew-all p{
    font-size:16px;
    color:#7e7b7a;
}
.threew-all span{
    color:#dd8f8e;
}